<div class="container">
    <div class="authorize-block">
        <p><strong>MySpotifyBillboard</strong> is the app that keeps track of your own personal billboard charts!</p>
        <p>Your billboards update as the songs you love change over time.  Keep records of which songs stay in 
             your charts for the longest time.  See charts from over time as well as from the recent weeks.
              Export charts as playlists directly to your Spotify account!</p>
        <a [attr.href]="authorizeUri"><button class="btn btn-primary">Start Using</button></a>
    </div>
</div>


