a:link {color: black;}
a:visited {color: black;}
a:hover {color: black;}
a:active {color:black;}


.tight-artist {
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.pos-img {
    width: 1em;
}

.tracklist {
    padding-top: 100px;
    width: 65%;
    float: left;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .tracklist { padding-top: 250px; }
}

/* .table-inverse {
    background-color: white;
    color: black;
}

.thead-inverse th {
    color: rgba(230,125,226,0.7);
} */
