<div class="container tracklist">
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let track of tracks; let i = index;">
        <th scope="row">
          {{i+1}}
          <td>
            <a [attr.href]="track?.AlbumOpenInSpotify">
              <img title="Open In Spotify" alt="Open In Spotify" [attr.src]="track?.SmallImage">
            </a>
          </td>
          <td class="open-in-spotify-links">
            <div><a title="Open In Spotify" [attr.href]="track?.OpenInSpotify">{{track?.Name}}</a></div>
            <div>
              <span class="tight-artist" *ngFor="let artist of track?.Artists; let isLast = last;">
                <a title="Open In Spotify" [attr.href]="artist?.OpenInSpotify">{{artist?.Name}}{{isLast ? '' : ', '}}</a>
              </span>
            </div>
            <div><a title="Open In Spotify" [attr.href]="track?.AlbumOpenInSpotify">{{track?.AlbumName}}</a></div>
          </td>
      </tr>
    </tbody>
  </table>
</div>