<div class="container tracklist">
  <table class="table table-inverse table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Position</th>
        <th>Track</th>
        <th></th>
        <th>Time On Chart</th>
        <th>Previous Position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of tracks; let i = index;">
        <th scope="row">
          {{i+1}}
          <td>
            <a [attr.href]="track?.AlbumOpenInSpotify">
              <img title="Open In Spotify" alt="Open In Spotify" [attr.src]="track?.SmallImage">
            </a>
          </td>
          <td class="open-in-spotify-links">
            <div><a title="Open In Spotify" [attr.href]="track?.OpenInSpotify">{{track?.Name}}</a></div>
            <div>
              <span class="tight-artist" *ngFor="let artist of track?.Artists; let isLast = last;">
                <a title="Open In Spotify" [attr.href]="artist?.OpenInSpotify">{{artist?.Name}}{{isLast ? '' : ', '}}</a>
              </span>
            </div>
            <div><a title="Open In Spotify" [attr.href]="track?.AlbumOpenInSpotify">{{track?.AlbumName}}</a></div>
          </td>
          <td *ngIf="(((track.TimeOnChart/7) | roundTwoDec) != 1) && (((track.TimeOnChart/7) | roundTwoDec) != 0)">{{track.TimeOnChart/7 | roundTwoDec}} weeks</td>
          <td *ngIf="((track.TimeOnChart/7) | roundTwoDec) == 1">1 week</td>
          <td *ngIf="((track.TimeOnChart/7) | roundTwoDec) == 0">&lt; 1 week</td>
          <td *ngIf="track.PreviousPosition != 0">
            {{track.PreviousPosition}}
            <img class="pos-img" *ngIf="track.PreviousPosition < (i + 1)" src="../../../assets/static/img/down-arrow.png" />
            <img class="pos-img" *ngIf="track.PreviousPosition > (i + 1)" src="../../../assets/static/img/up-arrow.png" />
          </td>
          <td *ngIf="track.PreviousPosition == 0">New To Chart</td>
      </tr>
    </tbody>
  </table>
</div>

<app-create-playlist></app-create-playlist>