.create-playlist {
    position: fixed;
    float: right;
    bottom: 0.7rem;
    right: 8rem;
    background-color: black;
}

 @media screen and (max-width: 1000px) {
    .create-playlist { 
        bottom: 3rem;
        right: 1rem;
    }
 }