<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <a class="nav-link navbar-brand" [ngClass]="checkIfDisabled()" [routerLink]="['home']" [queryParams]="{time_frame: 'long'}" queryParamsHandling="merge">My Spotify Billboard</a>

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="checkIfActive('long')">
        <a class="nav-link" [ngClass]="checkIfDisabled()" [routerLink]="['home']" [queryParams]="{time_frame: 'long'}" queryParamsHandling="merge">All Time <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="checkIfActive('med')">
        <a class="nav-link" [ngClass]="checkIfDisabled()" [routerLink]="['home']" [queryParams]="{time_frame: 'med'}" queryParamsHandling="merge">Six Months</a>
      </li>
      <li class="nav-item" [ngClass]="checkIfActive('short')">
        <a class="nav-link" [ngClass]="checkIfDisabled()" [routerLink]="['home']" [queryParams]="{time_frame: 'short'}" queryParamsHandling="merge">Four Weeks</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav navbar-right mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['deauthorize']">Deauthorize</a>
    </li>
  </ul>
</nav>