<!-- <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse"> -->
  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <a class="nav-link navbar-brand" [ngClass]="checkIfDisabled()" [routerLink]="['home']" [queryParams]="{time_frame: 'long'}" queryParamsHandling="merge">My Spotify Billboard</a>

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="checkIfActive('long')">
        <a class="nav-link" [ngClass]="checkIfDisabled()" [routerLink]="['home']" [queryParams]="{time_frame: 'long'}" queryParamsHandling="merge">All Time <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="checkIfActive('med')">
        <a class="nav-link" [ngClass]="checkIfDisabled()" [routerLink]="['home']" [queryParams]="{time_frame: 'med'}" queryParamsHandling="merge">Six Months</a>
      </li>
      <li class="nav-item" [ngClass]="checkIfActive('short')">
        <a class="nav-link" [ngClass]="checkIfDisabled()" [routerLink]="['home']" [queryParams]="{time_frame: 'short'}" queryParamsHandling="merge">Four Weeks</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav navbar-right mr-auto">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="checkIfDisabled()" [routerLink]="['deauthorize']">Account</a>
    </li>
  </ul>
</nav> -->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>