.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
    color: rgb(230,125,226);
}

.disabled {
    pointer-events: none;
}

.navbar-inverse .navbar-right li {
    text-align: right;
}

.active-link {
    color: rgba(240,125,226,0.9);
}