.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
    color: rgb(230,125,226);
}

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(230,125,226,0.7);
}

.disabled {
    pointer-events: none;
}

.navbar-inverse .navbar-right li {
    text-align: right;
}

.active {
    color: white;
}