<div *ngIf="hasData" class="records">
  <h3>Chart Records</h3>
  <br>
  <app-single-record [headline]="'Longest Time Spent At Number One'" [tracks]="longNumberOnes" [trackField]="'TimeAtNumberOne'"></app-single-record>
  <app-single-record [headline]="'Longest Time In Chart'" [tracks]="longTimes" [trackField]="'TimeOnChart'"></app-single-record>
  <app-single-record [headline]="'Most Consecutive Days At Number One'" [tracks]="longNumberOneCons"></app-single-record>
  <app-single-record [headline]="'Most Consecutive Days In Chart'" [track]="longTimeCons"></app-single-record>
</div>